@model Product

<div class="col-sm-12 col-md-6 col-xl-4 my-3">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
            @Model.ProductName
        </div>

        <img src="@Model?.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-text">
                <div class="text-danger text-center lead p-2 rounded-2">
                    @Model?.Price.ToString("c")
                </div>
            </div>
            <p class="card-text">@Model?.Summary</p>
            <div class="d-flex justify-content-end">
                <form id="@Model.ProductId" asp-page="/cart" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" name="returnUrl" />

                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary rounded" asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>

                        <button type="submit" class="btn btn-primary mx-1 rounded">
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>