@model Product

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.ProductName
            </h6>

            <img src="@Model?.ImageUrl" alt="@Model?.ProductName" class="img-fluid shadow rounden-3 p-5 my-3" />

            <p class="lead text-danger"><b>@Model.Price.ToString("c")</b></p>
        </div>
    </div>
</div>

<div class="text-center">
    <form id="@Model.ProductId" asp-page="/cart" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <div class="btn-group" role="group">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
            <button type="submit" class="btn btn-outline-primary">
                <i class="fa-solid fa-cart-plus"></i>
                Add To Cart
            </button>
            <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
                <i class="fa-solid fa-list"></i>
                Products
            </a>
        </div>
    </form>
</div>